<div class="posts">
  <section class="post">
    <header class="post-header">
      <h2 class="post-title">{{content.title}}</h2>
    </header>
    <div class="post-description">
      <p>
        {{content.content}}
      </p>
    </div>
  </section>  
</div>
