<h2>Ember Blog Expample</h2>
<hr>
<h3>Posts</h3>
<ul>
  {{#each content as |post|}}
    <li>
      <strong>{{#link-to 'posts.post' post}}{{post.title}}{{/link-to}}</strong>
    </li>
  {{/each}}  
</ul>

<hr>

{{outlet}}
